<sb-layout-dashboard>
    <div>
        <hr style="width:100%;margin-left:0">
        <h2 style="text-align: center" >Edit Test</h2>
        <hr style="width:100%;margin-left:0">
    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header ">
                            <h3 class="text-center font-weight-light my-4">Edit Details Here...!!! </h3>
                        </div>
                        <div class="card-body">
                            <form>
                                
    
                                   
                                        <div class="form-group">
                                            <input class="form-control py-4" name="testName" type="text" [(ngModel)]="currentTest.testName" #title="ngModel" placeholder="Test Name" /></div>
                                    
                               
                                    
                                        <div class="form-group">
                                            <input class="form-control py-4" name="testDescription" type="text" [(ngModel)]="currentTest.testDescription" #title="ngModel" placeholder="Test Description" />
                                        </div>
    
    
    
                                        <div class="form-group">
                                            <input id="number" class="form-control py-4" name="testDuration" type="text" [(ngModel)]="currentTest.testDuration" #title="ngModel" placeholder="Test Duration"/>
                                        </div>
                                
    
                                                                                   
                                   
                                        <div class="form-group">
    
                                            <textarea  class="form-control py-4 " name="testInstructions" type="text" [(ngModel)]="currentTest.testInstructions" #title="ngModel"
                                                placeholder=" (ex:- 1.Submit test before time ends)" ></textarea>
                                        </div>
                                       
                                   
                                  
                                                                   
    
                                <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" (click)="editThisTest()">Edit Test</a></div>
    
                            </form>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    </sb-layout-dashboard>