<div class="row">
    <div class="col-xl-6 col-md-10 ">
        <div class="card text-white bg-primary mb-3">

            <div class="card-body">
                <h5 class="card-title">TEST AVAILABLE...!!!</h5>
                <p class="card-text">Test are available with details like description,Instructions and Timing,You can
                    have a look of it here...</p>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link"[routerLink]="['/user-dashboard/view-details']">View Details</a>
                <div class="small text-white"><fa-icon [icon]='["fas", "angle-right"]'></fa-icon></div>
            </div>

        </div>



    </div>
</div>